.ring-card{
    position: relative;
    display: flex;
    justify-content: center;
    top:0;
    right:0;
    z-index:2;
    /* height: 120%; */
    margin-bottom: -70px;

}
.ring-burger{
    position: absolute;
    height: auto;
    width: 18%;
    z-index: 2;
    margin-left: 1%;
    margin-top: 43px;
}
.ring-burger2{
    position: absolute;
    height: auto;
    width: 18%;
    z-index: 2;
    margin-left: -21%;
    margin-top: 35px;
}
.card-height{
    /* height: 202px; */
    padding-bottom:10%;
    padding-top:10%;
}