.items{
    display: grid;
    grid-template-columns: repeat(3, 0fr);
    gap: 6px; 

    /* marginLeft: 10px;
    margin-top: 20px; */
    justify-content: center;
    /* padding-top: 100px; */
}
@media only screen and (max-width:576px) {
   
   .res-food{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        height: 50%;
        width: 150%;
      
    }
    .res-food-card{
        
        margin-right: 208px;
    }
}