.items{
    display: grid;
    grid-template-columns: repeat(3, 0fr);
    gap: 6px; 

    /* marginLeft: 10px;
    margin-top: 20px; */
    justify-content: center;
    /* padding-top: 100px; */
    
}
