.feature {
    color: rgb(238, 114, 12);
    font-size: xx-large;
    font-weight: 600;
    align-items: center;
    justify-content:center;
}

.services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px; 
    margin-Left: 10%;
    margin-top: 20px;
    justify-content: center;
}

@media only screen and (max-width:576px) {
   .res-inventory-card{
            padding-right:65%;
            padding-bottom:5%;
            gap: 20px;
        }
        #features{
                padding-left: 0;
            
        }
        .res-food{
            font-size: 19px;
        }
        .res-explore{
            font-size: 12px;
        }
        
          
        
        
        
        




}